## Retirement Model
The steps for model are:

- [Setup](**Setup**): We will setup the environment.
- [Inputs](**Inputs**): Input data needed for calculation of retirement model.
- [Salary](**Salary**): calculates net salary annually and include promotions.
- [Wealth](**Wealth**): Calculates the wealth at the end of retirement.
- [Setu](**Setu**): We will setup the environment.

### Setup

In [73]:
pip install dataclasses

Requirement already satisfied: dataclasses in c:\users\harris shah\anaconda3\lib\site-packages (0.6)
Note: you may need to restart the kernel to use updated packages.

In [74]:
import pandas as pd
from dataclasses import dataclass

### Inputs

In [75]:

@dataclass
class ModelInputs:
    starting_salary: int = 60000
    savings_rate: float = 0.25
    interest_rate: float = 0.05
    promos_raise: float = 0.15
    promos_every_n_year: int = 5
    desired_cash: int = 1500000
    inflation_rate_yearly: float = 0.02
    yearly_spendings: float = 0.0
    one_of_withdrawal: int = 1000


model_data = ModelInputs()
data = model_data
data

ModelInputs(starting_salary=60000, savings_rate=0.25, interest_rate=0.05, promos_raise=0.15, promos_every_n_year=5, desired_cash=1500000, inflation_rate_yearly=0.02, yearly_spendings=0.0, one_of_withdrawal=1000)

### Salary

In [92]:
# lets build a function for it 

year = 0
starting_wealth = 0

def net_salary_at_year(data, year):

# Add promotions effect to salary
    num_promos = int(year/data.promos_every_n_year)
    cost_of_living = data.starting_salary*(1+data.inflation_rate_yearly)**year
    promotion_factor = (1+data.promos_raise)**num_promos
    salary_t = cost_of_living*promotion_factor
    
# Subtract Annual spendings    
    net_salary_t = salary_t * (1-data.yearly_spendings)
    return net_salary_t

net_salary_at_year(data, year)

60000.0

### Wealth

In [93]:
# create a function for W(t-1) part of equation

def cash_saved_during_year(data, year):
    salary = net_salary_at_year(data, year)
    cash_saved = salary * data.savings_rate
    return cash_saved

cash_saved_during_year(data, year)

15000.0

In [78]:
# create function for (1+return)+(salary at time * savings rate)
prior_wealth = 0
def wealth_at_year(data, year, prior_wealth):
    
    cash_saved = cash_saved_during_year(data, year)
    wealth = prior_wealth*(1+data.interest_rate) + cash_saved
    return wealth
wealth_at_year(data, year, prior_wealth)

15000.0

In [79]:
prior_wealth = 0
wealth = 0
year = 0

#using while loop, to stop function when the resired cash collected
while wealth < data.desired_cash:
    year = year + 1
    wealth = wealth_at_year(data, year, prior_wealth)
    print(f' During year {year}, Total wealth is ${wealth:,.0f}.')
    
    prior_wealth = wealth

 During year 1, Total wealth is $15,300.
 During year 2, Total wealth is $31,671.
 During year 3, Total wealth is $49,173.
 During year 4, Total wealth is $67,868.
 During year 5, Total wealth is $90,307.
 During year 6, Total wealth is $114,248.
 During year 7, Total wealth is $139,775.
 During year 8, Total wealth is $166,975.
 During year 9, Total wealth is $195,939.
 During year 10, Total wealth is $229,918.
 During year 11, Total wealth is $266,080.
 During year 12, Total wealth is $304,542.
 During year 13, Total wealth is $345,431.
 During year 14, Total wealth is $388,878.
 During year 15, Total wealth is $439,025.
 During year 16, Total wealth is $492,294.
 During year 17, Total wealth is $548,853.
 During year 18, Total wealth is $608,878.
 During year 19, Total wealth is $672,557.
 During year 20, Total wealth is $745,168.
 During year 21, Total wealth is $822,190.
 During year 22, Total wealth is $903,859.
 During year 23, Total wealth is $990,422.
 During year 24, Total wealth is $1,082,140.
 During year 25, Total wealth is $1,185,745.
 During year 26, Total wealth is $1,295,520.
 During year 27, Total wealth is $1,411,793.
 During year 28, Total wealth is $1,534,910.

In [87]:
# lets make a function of it 
def years_to_retirement(data):

    prior_wealth = 0
    wealth = 0
    year = 0

    #using while loop, to stop function when the resired cash collected
    # Also counter one of withdrawal
    while (wealth - data.one_of_withdrawal) < (data.desired_cash):
        year = year + 1
        wealth = wealth_at_year(data, year, prior_wealth)
        prior_wealth = wealth
        
    print(f' It will take {year} years to retire.')
    return year    

years_to_retirement(data)

 It will take 28 years to retire.

28

In [88]:
ytr = years_to_retirement(data)

 It will take 28 years to retire.

In [89]:
# we can change inputs variable here as well
ytr = years_to_retirement(ModelInputs(one_of_withdrawal=100000))

 It will take 29 years to retire.

In [90]:
ytr

29

### Output

In [91]:
# we can change inputs variable here as well
ytr = years_to_retirement(ModelInputs(inflation_rate_yearly=0.07))

 It will take 22 years to retire.

## Notes
![image.png](attachment:9de54342-e239-4607-8757-d1ae68512399.png)